{% extends "app/base_site.html" %}

{% block title %} Organization Registration {% endblock title %}
{% block content %}

  <div class="right_col" role="main">

    <div class="align-center">
      <div class="form-row justify-content-center">
        <div class="col-md-3">

        </div>
        <div class="col-md-6">
          <div class="x_panel">
            <div class="x_title">
              <h2> <strong>Registration Confirmation Awaiting</strong></h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
               </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <br />
                <h4>
                    Your registration is successful, in a shortwhile you will be receiving an email from us to confirm your registration.
                    You are requested to click on the link from the mail and login with your credentials you have provided.
                </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}
