{% extends "app/base_site.html" %}
{% load crispy_forms_tags %}
{% block title %} Change Password {% endblock title %}
{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-3">
          &nbsp;
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <div class="x_panel">
            <div class="x_title">
              <h2>Change Password for {{user.username}} </h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <br />

              <form method="POST" class="form-signin">
                              {% csrf_token %}
                <fieldset class="form-group">
                      {{ form|crispy }}
                  </fieldset>
                  <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-5">
                      <button type="submit" class="btn btn-success">Update</button>
                    </div>
                  </div>
<!--                <h1 class="h3 mb-3 font-weight-normal">Change password</h1>-->
<!--                  <input name="old_password" class="form-control" placeholder="Old password" type="password" id="id_old_password" required="true">-->
<!--                  <input name="new_password1" class="form-control" placeholder="New password" type="password" id="id_new_password1" required="true">-->
<!--                  <input name="new_password2" class="form-control" placeholder="Confirm password" type="password" id="id_new_password2" required="true">-->
<!--                  <button class="btn btn-lg btn-primary btn-block" type="submit">Update</button>-->
              </form>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
