{% extends "app/base_site.html" %}
{% load crispy_forms_tags %}
{% block title %} Change Password {% endblock title %}
{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-3">
          &nbsp;
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <div class="x_panel">
            <div class="x_title">
              <h2>Change Password completed for {{user.username}} </h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <br />
                 <p class="m-auto p-2">
		    We've emailed you instructions for setting your password, if an account exists with the email you entered.
		    You should receive them shortly.
		  </p>
		  <p class="m-auto p-2">
		    If you don't receive an email, please make sure you've entered the address you registered with,
		    and check your spam folder.
		  </p>
		  <p class="m-auto p-2"><a href="{% url 'success' %}">Return to home page</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
