<div class="left_col scroll-view">
  <div class="navbar nav_title" style="border:0;background:#ffffff">
    <a href="index.html" class="site_title"> <image src="/static/images/pro-sync-logo.png" width="55" height="45"/> Pro-Sync</a>
  </div>

  <div class="clearfix"></div>
  <br />
{% if user.is_authenticated %}
  <!-- sidebar menu -->
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
      <h3>General</h3>
      <ul class="nav side-menu">

        <li><a href="{% url 'home' %}"><i class="fa fa-home"></i>Home<span class="fa fa-chevron-down"></span></a></li>
        {% if roles.has_prod_perm %}
        <li><a href="{% url 'product' %}"><i class="fa fa-cubes"></i>Products <span class="fa fa-chevron-down"></span></a></li>
        {% endif %}
        {% if roles.has_batch_perm and roles.is_create %}
        <li><a href="{% url 'batch' %}"><i class="fa fa-rocket"></i>Create Batch <span class="fa fa-chevron-down"></span></a></li>
        {% endif %}
        {% if roles.has_batch_perm %}
        <li><a href="view_batch.html"><i class="fa fa-table"></i> View Batch <span class="fa fa-chevron-down"></span></a></li>
        {% endif %}
        {% if roles.has_support_perm %}
        <li><a a href="support.html"><i class="fa fa-life-saver"></i> Support <span class="fa fa-chevron-down"></span></a></li>
        {% endif %}
        {% if roles.has_billing_perm %}
        <li><a href="invoice.html"><i class="fa fa-credit-card"></i>Billing <span class="fa fa-chevron-down"></span></a></li>
        {% endif %}
        {% if roles.has_admin_perm or user.is_superuser %}
        <li><a><i class="fa fa-windows"></i> Admin Settings <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            {% if user.is_superuser %}
              <li><a href="{% url 'org-approve' 0 %}">Approve Organization</a></li>
            {% else %}
            <li><a href="{% url 'org-update' %}">Update Organization</a></li>
            <li><a href="{% url 'register' %}">Add User</a></li>
            <li><a href="{% url 'roles' %}">Roles Permission</a></li>
            <li><a href="{% url 'groups' %}">Group</a></li>
            {% endif %}
          </ul>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
  {% endif %}
  </div>
  <!-- /sidebar menu -->

  <!-- /menu footer buttons -->
  <div class="sidebar-footer hidden-small">
    <a data-toggle="tooltip" data-placement="top" title="Settings">
      <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="FullScreen">
      <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="Lock">
      <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
      <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
    </a>
  </div>
  <!-- /menu footer buttons -->
</div>
